* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Small Size */
@media screen and (min-width: 100px) and (max-width: 700px) {
  body{
    background: #eff4fd ; 
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  #menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  #menu__item:hover {
    background-color: #cfd8dc;
  }

/* -------------------------------------- */

  .name{
    font-family: cursive;
    color: #000;
    font-size: 24px;
  }


  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
  }
  
  nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: red;
    cursor: pointer;
  }
  
  .detel {
    margin-left: 8%;
    margin-top: 13%;
  }
  
  .detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
  }
  
  .detel p {
    color: #555;
    font-size: 24px;
    line-height: 22px;
  }
  
  .detel a {
    background: #2d2c2ca4;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
  }

  #shape{
    display: none;
  }


  .images {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }



  .home-img{
    border: 2px solid gray;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 150px;
  }
}



/* Medium Size */
@media screen and (min-width: 701px) and (max-width: 1299px){
  
  body{
    background: #eff4fd ; 
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  #menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  #menu__item:hover {
    background-color: #cfd8dc;
  }

/* -------------------------------------- */

  .name{
    font-family: cursive;
    color: #000;
    font-size: 24px;
  }


  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
  }
  
  nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: red;
    cursor: pointer;
  }
  
  .detel {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding-top: 10px;
    text-align: center;
  }
  
  .detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
  }
  
  .detel p {
    color: #555;
    font-size: 24px;
    line-height: 22px;
  }
  
  .detel a {
    background: #2d2c2ca4;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
  }

  .images {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
  }
  
  .home-img {
    display: inline-block;
    width: 32%;
    position: absolute;
    margin-top: 30px;
    left: 170px;
    bottom: 0.8;
    border-radius: 150px;
    transition: 0.3s;  
  }
  
  #shape {
    width: 100%;
    border-radius: 50px;
  }
  
  .home-img:hover {
    width: 40%;
  }
  
  #user-detail-intro {
    font-size: 28px;
  }
  
  #menu__toggle {
    display: none;
  }
}



/* Large Screen */
@media screen and (min-width: 1300px) and (max-width: 5000px) {

  body{
   background: #eff4fd ; 
  }

  .name{
    font-family: cursive;
    color: #000;
    font-size: 24px;
  }

  .hero {
    width: 100%;
    height: 500px;
    background: #eff4fd;
  }

  nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  .detel {
    margin-left: 8%;
    margin-top: 13%;
  }

  .detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
  }

  .detel p {
    color: #555;
    line-height: 22px;
  }

  .detel a {
    background: #2d2c2ca4;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
  }

  .images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
  }

  .home-img {
    width: 40%;
    position: absolute;
    top: 0;
    left: 40px;
    margin-top: 20px;
    border-radius: 20px;
    transition: 0.3s;
  }

  #shape {
    width: 100%;
    border-radius: 20px;
  }

  .home-img:hover {
    width: 48%;
  }

  #user-detail-intro {
    font-size: 28px;
  }

  #menu__toggle {
    display: none;
  }

  .detel>a:hover{
    cursor: pointer;
    width: 12%;
    height: 24px;
    font-size: 22px;
  }

  #about{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
  }

  .about_bor{
    border: 1px solid skyblue;
    background-color: rgb(146, 202, 224);
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .texting{
    width: 85%;
    margin: auto;
    margin-top: 25px;
    color: #616161;
    text-align: center;
    line-height: 1.3;
  }
  
  #user-detail-intro{
    font-size: 21px;
  }

  #nav-menu{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin: auto;
    background-color: #eff4fd;
  }

  .naving{
    font-size: 16px;
  }

  #menu__item:hover{
    transition: 0.7s;
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
    width: 20%;
    color: #212121;
    font-family: cursive;
  }

/* ==================SKILLS SECTION ================== */
  
  #skills{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 50px;
  }

  .about_bors{
    border: 1px solid skyblue;
    background-color: rgb(146, 202, 224);
    padding: 10px;    
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    margin: auto;
    text-align: center;
    width: 10%;
  }

  #labels{
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 100%;
    text-align: center;
    margin: auto;
    border-top: 2px dotted purple;
    border-right: 2px dotted purple;
    border-left: 2px dotted rgb(12, 12, 12);
    font-size: 25px;
    margin-top: 30px;
  }

  #labels>div{
    font-family: cursive;
    width: 50%;
  }

  #MainContainer{
    display: flex;
    justify-content: space-between;
    width: 99%;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #SmallContainer_1,#SmallContainer_2{
    border-bottom:2px dotted purple;
    border-right:2px dotted purple;
    border-left:2px dotted purple;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     width: 45%;
     height: 300px;
     margin: auto;
     padding: 10px;
     gap: 10px;
  }

  .skills-card{
    background-color: white;
    width: 80%; 
    height: 140px;
    margin: auto;
    border-radius: 20px;
    opacity: 0.8;
  }

  .skills-card:hover{
    width: 90%;
    height: 100%;
    opacity: 1;
    transition: 0.9s;
    border-radius: 37px;
    font-weight: bolder;
  }

  .skills-card-img{
    margin-top: 10px;
    margin-bottom: 20px;
  }  
  .skills-card-img:hover{
    width: 70%;
    height: 60%;
    opacity: 5;
    transition: 0.5s;
    border-radius: 14px;
  }

  #SmallContainer_1 .skills-card-img:hover{
    width: 70%;
    height: 30%;
  }

/*======================= Tools Section ==========================*/

  #tools{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
  }

  .toolName{
    border-top: 2px dotted purple;
    border-right: 2px dotted purple;
    border-left: 2px dotted purple;
    font-family: cursive;
    font-size: 22px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 20%;
  }

  #ToolContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 40px;
  }

/*======================= Project Section ==========================*/

#pro{
  border: 1px solid skyblue;
  background-color: rgb(146, 202, 224);
  padding: 10px;    
  padding-left: 100px;
  padding-right: 100px;
  display: block;
  margin: auto;
  text-align: center;
  width: 10%;
  margin-top: 50px;
}


#projects{
    border: 1px solid red;
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
}

/* Left Slider Button */
#leftButton{
  width: 5%;
  height: 50px;
  margin: auto;
}
#leftButton>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
}
#leftButton>img:hover{
  cursor: pointer;
  width: 120%;
  height: 120%;
  transition: 0.5s;
}



/* Project Section */
#SmallContainer1{
  width: 87%;
  height: 600px;
  margin: auto;
}
#SmallContainer2{
  /* border:1px solid green; */
  width: 100%;
  height: 100%;
}
#Details{
  border: 1px solid black;
  width:100%;
  height: 70%;
  display: flex;
}

    /*  Image Section  */
    .ImageSection{
      border: 1px solid red;
      width: 60%;
      height: 90%;
      margin: auto;
    }
      .pr_img{
        width: 100%;
        height: 100%;
      }
      .ImageSection:hover{
        width: 100%;
        height: 100%;
      }

    /* Details Section */
    .SmallDetails{
      width: 45%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
      .project-title,.project-description
      ,.project-tech-stack{
        border: 1px solid blue;
      }

#ButtonsSection{
  border: 1px solid black;
  width:100%;
  height: 29%;
  display: flex;
  justify-content: space-around;  
}
  .project-github-link,.project-deployed-link{
    /* display: block; */
    border: 1px solid red;
    width: 15%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
  }

/* Next Slider Button */
#RightButton{
  width: 5%;
  height: 50px;
  margin: auto;
}
#RightButton>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#RightButton>img:hover{
  cursor: pointer;
  width: 120%;
  height: 120%;
  transition: 0.5s;
}









}


